<p>diretiva works!</p>

<p [ngClass]="{'errorClass' : hasError}">
Thiago Xavier</p>

<h2 [ngClass]="classes">3 SIS - 2025</h2>

<div [ngClass]=" isSpecial ? 'special' : 'quadrado' ">

</div>

<h2>Diretiva ngStyle</h2>

<p [ngStyle]="{'background-color' : color,
  'font-size': size, 'color' : 'red'
}">
    2025
</p>

<h2>Ng Model</h2>
<label for="exemplo-ngModel">NgModel</label>
<input [(ngModel)]="currentItem.name" id="name1" />

<p>Campo: {{currentItem.name}}</p>

<p>
  UpperCase:
  <input type="text"
   [ngModel] ="currentItem.name"
    (ngModelChange)="setUpperCaseName($event)"
   id="name2"
    />

</p>
